@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
body {
  margin-inline: 20px;
  margin-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
:root {
  color-scheme: dark;
}
* {
  font-family: "Roboto Mono", serif;
}
