.controlsContainer {
  display: flex;
  justify-content: space-around;
}
.controlsContainer > div {
  display: flex;
  flex-direction: column;
}
.controlsContainer > button {
  height: fit-content;
  align-self: center;
}
