.controlsContainer {
  display: flex;
  justify-content: space-around;
}
.controlsContainer > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.controlsContainer > div > p {
  margin: 0;
  text-align: center;
}
.controlsContainer > div > p > span {
  color: #888;
  font-size: 0.9rem;
}
.resetControlsButton {
  margin-bottom: 10px;
  width: fit-content;
  align-self: center;
}
.hr {
  width: 100%;
  margin-bottom: 50px;
}
