.ttsInputContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #838383;
  padding: 20px;
  gap: 10px;
  margin-bottom: 50px;
  border-radius: 4px;
}
.textInput {
  resize: vertical;
  font-size: 0.8rem;
}
.audioContainer {
  display: flex;
  height: 55px;
  align-items: center;
}
.audioContainer > audio {
  width: 100%;
}
.audioContainer > p {
  margin: 11px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.removeConfirmContainer {
  display: flex;
  justify-content: end;
}
