.ttsInputContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(199, 199, 199);
  padding: 20px;
  gap: 10px;
  margin-bottom: 50px;
}
.textInput {
  resize: vertical;
}
.ttsInputContainer > audio {
  width: 100%;
}
.removeConfirmContainer {
  display: flex;
  justify-content: end;
}
